<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.astoev.cave.survey"
          android:requestLegacyExternalStorage="true"
          android:preserveLegacyExternalStorage="true"
          android:installLocation="preferExternal"
          android:versionCode="57"
          android:versionName="2.4">
          
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    
    <!-- Store to SD -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="30"/>

    <!-- Take photos -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- Bluetooth laser distance meter -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application android:allowBackup="true"
        	     android:label="@string/app_name" 
        		 android:icon="@drawable/logo" 
        		 android:screenOrientation="portrait"
        		 android:theme="@style/Theme.AppCompat">
        <activity android:name=".activity.home.SplashActivity"
                  android:label="@string/app_name"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.home.SurveysActivity"/>
        <activity android:name=".activity.main.SurveyMainActivity">
			<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.astoev.cave.survey.activity.home.SurveysActivity" />
        </activity>
        <activity android:name=".activity.main.OptionsActivity"/>
        <activity android:name=".activity.main.InfoActivity" android:exported="true">
			<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.astoev.cave.survey.activity.main.SurveyMainActivity" />
            <intent-filter>
                <action
                    android:name="android.intent.action.PICK"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
                <category
                    android:name="android.intent.category.OPENABLE"/>
                <data android:mimeType="vnd.android.document/directory"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.main.NoteActivity"/>
        <activity android:name=".activity.map.MapActivity"/>
        <activity android:name=".activity.home.NewProjectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astoev.cave.survey.activity.home.SurveysActivity" />
        </activity>    
        <activity android:name=".activity.draw.DrawingActivity"/>
        <activity android:name=".activity.main.PointActivity">
			<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.astoev.cave.survey.activity.main.SurveyMainActivity" />
        </activity>

        <activity android:name="com.astoev.cave.survey.activity.main.BTActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astoev.cave.survey.activity.home.SurveysActivity" />
        </activity>
        <activity android:name="com.astoev.cave.survey.activity.poc.SensorsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astoev.cave.survey.activity.config.SettingsActivity" />
        </activity>
        <activity android:name=".activity.config.MeasurementsConfigActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.config.SettingsActivity" />
        </activity>
        <activity android:name="com.astoev.cave.survey.activity.poc.SensorTestActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astoev.cave.survey.activity.poc.SensorsActivity" />
        </activity>
        <activity android:name="com.astoev.cave.survey.activity.main.GPSActivity"/>
        <activity android:name="com.astoev.cave.survey.activity.main.GPSManualActivity"/>
        <activity android:name="com.astoev.cave.survey.activity.config.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astoev.cave.survey.activity.home.SurveysActivity" />
        </activity>
	    <activity
            android:name=".openstopo.WebViewActivity"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <provider
            android:name=".util.CaveSurveyFileProvider"
            android:authorities="CaveSurvey.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

    <queries>
        <package android:name="com.pawczak.cavear"/>
    </queries>
</manifest>
