<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.astoev.cave.survey"
          android:requestLegacyExternalStorage="true"
          android:installLocation="preferExternal"
          android:versionCode="50"
          android:versionName="1.49">
          
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    
    <!-- Store to SD -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Take photos -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- Bluetooth laser distance meter -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!--used to dump the log on the FS, used only for debug purposes, not available on v25+ -->
    <uses-permission android:name="android.permission.READ_LOGS" android:maxSdkVersion="24"/>
    <uses-permission android:name="android.permission.INTERNET" android:maxSdkVersion="24" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" android:maxSdkVersion="24"/>
    
    <application android:allowBackup="true"
        	     android:label="@string/app_name" 
        		 android:icon="@drawable/logo" 
        		 android:screenOrientation="portrait"
        		 android:theme="@style/Theme.AppCompat">
        <activity android:name=".activity.home.SplashActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.home.SurveysActivity"/>
        <activity android:name=".activity.main.SurveyMainActivity">
			<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.astoev.cave.survey.activity.home.SurveysActivity" />
        </activity>
        <activity android:name=".activity.main.OptionsActivity"/>
        <activity android:name=".activity.main.InfoActivity">
			<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.astoev.cave.survey.activity.main.SurveyMainActivity" />
        </activity>
        <activity android:name=".activity.main.NoteActivity"/>
        <activity android:name=".activity.map.MapActivity"/>
        <activity android:name=".activity.home.NewProjectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astoev.cave.survey.activity.home.SurveysActivity" />
        </activity>    
        <activity android:name=".activity.draw.DrawingActivity"/>
        <activity android:name=".activity.main.PointActivity" android:windowSoftInputMode="stateHidden">
			<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.astoev.cave.survey.activity.main.SurveyMainActivity" />
        </activity>

        <activity android:name="com.astoev.cave.survey.activity.main.BTActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astoev.cave.survey.activity.home.SurveysActivity" />
        </activity>
        <activity android:name="com.astoev.cave.survey.activity.poc.SensorsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astoev.cave.survey.activity.SettingsActivity" />
        </activity>
        <activity android:name="com.astoev.cave.survey.activity.poc.SensorTestActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astoev.cave.survey.activity.poc.SensorsActivity" />
        </activity>
        <activity android:name="com.astoev.cave.survey.activity.main.GPSActivity"/>
        <activity android:name="com.astoev.cave.survey.activity.main.GPSManualActivity"/>
        <activity android:name="com.astoev.cave.survey.activity.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.astoev.cave.survey.activity.home.SurveysActivity" />
        </activity>
	    <activity
            android:name=".openstopo.WebViewActivity"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <provider
            android:name=".util.CaveSurveyFileProvider"
            android:authorities="CaveSurvey.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>


    </application>
    

</manifest>
