name: CaveSurvey Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Patch No Bosch Library
      run: git apply --ignore-space-change --ignore-whitespace no_bosch_library.patch
    - name: Assemble Debug
      run: ./gradlew assembleDebug
    - name: Store APK
      uses: actions/upload-artifact@v1
      with:
        name: CaveSurvey-debug.apk
        path: build/outputs/apk/defaultFlavor/debug
