name: CaveSurvey Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Patch No Bosch Library
      run: git apply --ignore-space-change --ignore-whitespace no_bosch_library.patch
    - name: Assemble Debug
      run: ./gradlew assembleDebug
    - name: Store APK
      uses: actions/upload-artifact@v1
      with:
        name: CaveSurvey-debug.apk
        path: build/outputs/apk/defaultFlavor/debug

  unit-tests:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: Patch No Bosch Library
      run: git apply --ignore-space-change --ignore-whitespace no_bosch_library.patch
    - name: Unit tests
      run: ./gradlew test
    - name: Test reports
      uses: actions/upload-artifact@v2
      with:
        name: test-reports
        path: build/reports/

  espresso-tests:
    needs: unit-tests
    runs-on: macos-latest
    strategy:
      matrix:
        api-level: [28]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Patch No Bosch Library
        run: git apply --ignore-space-change --ignore-whitespace no_bosch_library.patch
      - name: Espresso tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          target: default
          arch: x86
          profile: Nexus 6
          sdcard-path-or-size: 100M 
          script: ./gradlew connectedCheck
      - name: Test reports
        uses: actions/upload-artifact@v2
        with:
          name: test-reports
          path: build/reports/
